@import "../../util/util.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $white;
  box-shadow: 0 0px 30px #cecece;
  .profileWrapper {
    margin-left: 12px;
  }
  .helpWrapper {
    margin-right: 12px;
  }
}
