@import "./util.scss";

.container {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: $white;
  box-shadow: 0 0px 30px #cecece;
  .profile {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .logoWrapper {
    margin-left: 300px;
  }
}
